body {
    box-sizing: border-box;
    background: url("../assets/wallpaper.png");
    background-size: cover; 
}

#game_screen {
    border: 1px solid transparent;
    display: block;
    margin: 5vh auto 0;
}

#stopwatch {
    float:right;
    color: yellow;
}