body {
    box-sizing: border-box;
    background: url("../assets/fondo.png");
    background-size: cover; 
}

#game_screen {
    border: 1px solid transparent;
    display: block;
    margin: 5vh auto 0;
}

#stopwatch {
    float:right;
    color: yellow;
}

text {
    font-family: 'Press Start 2P', cursive;
}